body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #e3860d, #4D9DE0);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.contenedor {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 350px;
  text-align: center;
}

h1 {
  color: #3BB273;
  margin-bottom: 20px;
}

.formulario .campo {
  margin-bottom: 15px;
  text-align: left;
}

label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
  color: #555;
}

input, select {
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.2s;
}

input:focus, select:focus {
  border-color: #3BB273;
}

.total {
  font-size: 1.1em;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.btn-comprar {
  background-color: #8C54A1;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.btn-comprar:hover {
  background-color: #713f84;
}

.mensaje {
  margin-top: 15px;
  font-weight: bold;
  display: none;
}

.mensaje.exito {
  color: #3BB273;
}

.mensaje.error {
  color: #E04D4D;
}
