    <!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Registrar evento</title>
    <link rel="stylesheet" th:href="@{/css/estilos_ferias.css}" href="/css/estilos_ferias.css" />
</head>
<body>
    <div class="container">
            <form id="login-form" class="form active" th:action="@{/eventos}" th:method="post">
                <h1>Registrar Eventos</h1>
                <div>
                 <label for="nombre">Nombre Evento</label>
                 <input type="text" id="nombre" name="nombre" placeholder="Nombre Evento" required />
                </div>
                <div>
                 <label for="descripcion">Descripcion del evento:</label><br>
                   <textarea id="descripcion" name="descripcion" rows="4" cols="50" required></textarea><br>
                </div>
                <div>
                 <label for ="fecha_inicio">Ingrese la fecha de inicio del evento</label>
                <input type="date" id="fecha_inicio" name="fechaInicio" placeholder="Inicio del evento" required />
                </div>
                <div>
                <label for ="fecha_fin">Ingrese la fecha de fin del evento</label>
                <input type="date" id="fecha_fin" name="fechaFin" placeholder="Fin del evento" />
                </div>
                <div>
                <label for ="hora_inicio">Ingrese la hora de inicio del evento</label>
                <input type="time" id="hora_inicio" name="horaInicio" placeholder="Hora de inicio del evento" />
                </div>
                <div>
                <label for ="hora_fin">Ingrese la hora fin del evento</label>
                <input type="time" id="hora_fin" name="horaFin" placeholder="Hora de fin del evento" />
                </div>
                <div>
                <label for ="municipio">Seleccione el Municipio</label>
                <select name="municipioId" id="municipio" required>
                    <option value="">-- Seleccione --</option>
                    <option th:each="m : ${municipios}" th:value="${m.id}" th:text="${m.municipio}"></option>
                </select>
                </div>
                <input type="hidden" name="administradorId" value="1024480167" />
                <div>
                <button type="submit">Registrar</button>
                </div>
            </form>

        </div>
    </div>
</body>

</html>