<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FestCo</title>

  <link rel="stylesheet" th:href="@{/css/pagina_prin.css}" href="/src/main/resources/static/css/pagina_prin.css">
</head>
<body>
  <header>
    <div class="logo">
      <img th:src="@{/img/222.png}" src="/img/logo.png" alt="Logo">
      <span><b>Make it happen</b></span>
    </div>

    <nav>
      <a href="#" class="active">Inicio</a>
      <form action="/buscar" method="get">
        <input type="search" id="buscar" name="q" placeholder="Buscar...">
        <input type="submit" value="Buscar">
      </form>
      <a th:href="@{/usuario}" href="/src/main/resources/templates/usuario/usuario.html">Iniciar Sesión</a>
    </nav>
  </header>

  <!-- Sección de foros -->
  <section id="foros">
    <div class="foro-lista" th:each="f : ${foro}">
      <div class="foro-item">
        <div class="card">
          <div class="card-header">
            <img class="card-img" th:src="@{'/foro/imagen/' + ${f.id}}" alt="Imagen del Foro">
            <h3 th:text="${f.tema}">Título del Foro</h3>
          </div>
          <div class="card-body">
            <p class="author">
              <strong>Creado por:</strong>
              <span th:text="${f.nombre}">Nombre del Creador</span>
            </p>
            <p class="date">
              <strong>Fecha de creación:</strong>
              <span th:text="${f.fecha}">Fecha del Foro</span>
            </p>
            <div class="foro-contenido" style="display: none;" th:text="${f.contenido}"></div>
          </div>
          <div class="card-footer">
            <button class="btn-comentar"
              th:data-id-foro="${f.id}"
              th:data-tema="${f.tema}"
              th:data-nombre="${f.nombre}"
              th:data-fecha="${f.fecha}"
              th:data-contenido="${f.contenido}"
              th:data-imagen="@{'/foro/imagen/' + ${f.id}}"
              onclick="abrirForo(this)">
              Abrir Foro
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Script -->
  <script th:src="@{/js/index.js}" src="/src/main/resources/static/js/index.js"></script>
</body>
</html>
