<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FestCo</title>

  <link rel="stylesheet" th:href="@{/css/pagina_prin.css}" href="/css/pagina_prin.css">

</head>
<body>
  <header>
    <div class="logo">

      <img th:src="@{/img/222.png}" src="/src/main/resources/static/img/logo.png" alt="Logo">

      <span><b>Make it happen</b></span>
    </div>
    <nav>
      <a href="#" class="active">Inicio</a>
      <!-- Enlace al controlador que sirve la página index -->
      <a th:href="@{/usuario}" href="/usuario">Iniciar Sesion</a>

    </nav>
  </header>

  <section class="hero">
    <div class="cards">

  <script th:src="@{/js/index.js}" src="/js/index.js"></script>
</body>
</html>